{{- /*
    x-t.github.io (c) 2023
    This work is licensed under the Creative Commons
    Attribution-NonCommercial-ShareAlike 4.0 International
    License. To view a copy of this license, visit
    http://creativecommons.org/licenses/by-nc-sa/4.0/ or
    send a letter to Creative Commons, PO Box 1866,
    Mountain View, CA 94042, USA.
*/ -}}
{{define "admin/navbar_loggedin"}}
<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/admin">guestbook administration</a>
      <ul class="nav">
      	<li><a href="/admin/server">server</a></li>
      </ul>
      <div class="pull-right">
      <ul class="nav">
      	<li><a href="/admin/logout">logout</a></li>
      </ul>
	</div>
    </div>
  </div>
</div>
{{end}}