{{define "admin/navbar_loggedin"}}
<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/admin">guestbook administration</a>
      <ul class="nav">
      	<li><a href="/admin/server">server</a></li>
      </ul>
      <div class="pull-right">
      <ul class="nav">
      	<li><a href="/admin/logout">logout</a></li>
      </ul>
	</div>
    </div>
  </div>
</div>
{{end}}