{{- /*
    x-t.github.io (c) 2023
    This work is licensed under the Creative Commons
    Attribution-NonCommercial-ShareAlike 4.0 International
    License. To view a copy of this license, visit
    http://creativecommons.org/licenses/by-nc-sa/4.0/ or
    send a letter to Creative Commons, PO Box 1866,
    Mountain View, CA 94042, USA.
*/ -}}
{{define "admin/server.html"}}
{{template "admin/header"}}
<style>
  table {
    table-layout: fixed;
  }
  th, td {
    word-wrap: break-word;
    max-width: 150px;
  }
</style>
    {{template "admin/navbar_loggedin"}}

    <div class="container" id="container">

      <div class="content" id="content">
        <div class="page-header">
          <h1>configuration</h1>
        </div>
        <div class="row">
          <div style="text-align: center;"><h1>🤯</h1></div>
          <div style="display: flex;justify-items: center;justify-content: center;text-align: center;">
            <table class="bordered-table zebra-striped" style="width:80%">
              <tr>
                <th>Environment</th>
                <th>Value</th>
              </tr>
              <tr>
                <td><strong>FLY_REGION</strong></td>
                <td>{{.Region}}</td>
              </tr>
              <tr>
                <td><strong>DSN</strong></td>
                <td>{{.DSN}}</td>
              </tr>
              <tr>
                <td><strong>CORS_ENDPOINTS</strong></td>
                <td>{{.CorsEndpoints}}</td>
              </tr>
              <tr>
                <td><strong>TURNSTILE_SECRET</strong></td>
                <td>{{.TurnstileSecret}}</td>
              </tr>
              <tr>
                <td><strong>EMAIL</strong></td>
                <td>{{.Email}}</td>
              </tr>
              <tr>
                <td><strong>PGP_KEY</strong></td>
                <td>{{.PgpKey | ShortenField}}</td>
              </tr>
              <tr>
                <td><strong>ADMIN_USERNAME</strong></td>
                <td>{{.AdminUsername}}</td>
              </tr>
              <tr>
                <td><strong>ADMIN_SECRET_HASH</strong></td>
                <td>{{.AdminSecretHash}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
{{template "admin/footer"}}
{{end}}