@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nextimg > span {
  height: 100% !important;
}

@layer utilities {
  .floatee {
    @apply bg-gray-100 dark:bg-gray-700 rounded-md drop-shadow-md p-5 print:drop-shadow-none;
  }

  a.floatee {
    @apply hover:bg-mcraegray dark:hover:bg-mcraedarkblue;
  }

  .navbar_link {
    @apply rounded-sm flex items-center justify-center cursor-pointer h-8 bg-gradient-to-r from-cyan-500 to-blue-500 hover:from-purple-500 hover:to-pink-500 text-white font-bold;
  }
}
