html,
body,
img {
  cursor: url("/img/Pointer.png") 6 2, auto;
}

body {
  font-family: "Garamond", "Times New Roman", Times, serif;
  background-image: url("/img/chillibk.gif");
  background-color: #ffffca;
  font-size: 18.5px;
}

h1,
h2,
p {
  text-align: center;
  cursor: url("/img/IBeam.png") 6 2, auto;
}

a,
a img {
  cursor: url("/img/FollowLink.png") 6 2, auto;
  text-decoration: none;
}

a:visited {
  color: #0000ff;
}

table {
  margin-left: auto;
  margin-right: auto;
}

#FSP {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted;
  cursor: url("/img/Help.png") 6 2, auto;
}

#FSP #FSPP {
  visibility: hidden;
  width: 150px;
  background-color: #22221c;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 0.9em;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
}

#FSP:hover #FSPP {
  visibility: visible;
}

#FSP #FSPP a {
  color: lightskyblue;
}

#W {
  width: 100vw;
}

.arrow_lg {
  letter-spacing: -4px;
}

.arrow_sm {
  letter-spacing: -3px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("/img/darkbg.jpeg");
    color: white;
    background-color: #000;
  }

  a,
  a:visited {
    color: lightskyblue;
  }
}
