# x-t.github.io (c) 2023
# This work is licensed under the Creative Commons 
# Attribution-NonCommercial-ShareAlike 4.0 International 
# License. To view a copy of this license, visit 
# http://creativecommons.org/licenses/by-nc-sa/4.0/ or 
# send a letter to Creative Commons, PO Box 1866, 
# Mountain View, CA 94042, USA.

name: Build and deploy frontend

on:
  push:
    paths:
      - "apps/web/**"
      - ".github/workflows/web.yml"
      - ".github/workflows/neocities.yml"
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1

      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.6.4
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          branch: gh-pages
          folder: apps/web/root

  mirror:
    needs: build-and-deploy
    uses: "./.github/workflows/neocities.yml"
    secrets:
      NEOCITIES_API_KEY: ${{ secrets.NEOCITIES_API_TOKEN }}
